/* You can add global styles to this file, and also import other style files */
html, body, div, span, h1, p, ul, li {
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: 'IM Fell English SC', serif;
}
​
body {
    background-color: #f1f1f1;
    font-size: 16px;
    line-height: 22px;
    color: #404040;
}
​
ol, ul {
    list-style: none;
}
​
.btn {
    background: #03a9f4;
    color: #fff;
    padding: 3px 10px;
    margin: 0 0 0 3px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
    vertical-align: bottom;
}
​
.btn:hover {
    opacity: 80%;
}

.btn-remove {

}


.title {
    font-weight: bold;
    text-align: center;
  }